<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="conexion"
			 connectionString="Data Source=PORTATIL\SQLEXPRESS;Initial Catalog=SistemaReparacionesDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<customErrors mode="Off" />
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="30" />
		</authentication>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>